:root{
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 3%, 87%);
    --DarkGrayishViolet: hsl(279, 6%, 55%);
    --VeryDarkViolet: hsl(278, 68%, 11%);


}
* {
    box-sizing: border-box;
}

html, body, p, h1 {
    margin: 0;
}
main{
    position: relative;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--VeryDarkViolet);
}
main > img, main > div{
    position: absolute;
}
.left-decoration{
    height: 100vh;
    width: 33%;
}
.front-card{
    width: 22%;
    bottom: 500px;
    left: 17%;
}
.front-card__img{
    width: 100%;
}

.front-card>p,.front-card>div{
    position: absolute;
    color: var(--White);

    
}
.front-card__circle{
    width: 10%;
    height: 18%;
    border-radius: 50%;
    background-color: var(--White);
    top: 10%;
    left: 6%;
}

.front-card__circle::after{
    content: '';
    position: absolute;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    border: 2px solid var(--White);
    right: -100%;
    top: 30%;

}

.front-card__number{
    /* font-size: 32px; */
    font-size: 1.6vw;
    left: 6%;
    bottom: 24%;
    color: white;
}
.front-card__fullname{
    font-size: 1vw;
    bottom: 10%;
    left: 6%;
}
.front-card__expire-date{
    font-size: 1vw;
    bottom: 10%;
    right: 6%;
}

.back-card{
    width: 22%;
    top: 540px;
   
    left: 22%;
}
.back-card__img{
    width: 100%;
   
}
.back-card__cvc{
    font-size: 1vw;
    position: absolute;
    bottom: 46.5%;
    right: 12%;
}

.form{
    position: absolute;
    left: 55%;
    top: 300px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form__input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
.form__inputs-container{
    display: flex;
    justify-content: space-between;
}
.form__inputs-container .form__input-wrapper{
    width: 50%;
 
}
.form__expire-inputs-wrapper{
    display: flex;
}
.form__expire-inputs-wrapper .form__input{
    width: 50%;
    margin-right: 10px;
}

.form__label{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 16px;
}
.form__input{
    border-radius: 5px;
    border: 1px solid var(--LightGrayishViolet);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.form__error-message{
    font-size: 14px;
    color: var(--Red);
    margin-top: 5px;
}

.form__btn{
    background-color: var(--VeryDarkViolet);
    border: 1px solid var(--VeryDarkViolet);
    color: var(--White);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    
}

.form__btn:hover{
    background-color:rgb(49,13,64);
    border:1px solid rgb(49,13,64);
}